<%-include("header.ejs") %>

<main>
  <div id="view">
    <h1 style="order: 1;">View post</h1>
    <form action="/view/ <%= post.id %>" method="POST" id="create" style="margin-bottom: auto; width: 100%;">
      <input type="text" name="title" value="<%= post.title %>" minlength="1" maxlength="100"style="width: 60%; min-width: 200px; height: 30px; margin-bottom: 10px; margin-top: 10px;"><br>
      <textarea id="body-text" rows="10" cols="50" name="body" style="width: 60%; min-width: 200px;"><%= post.body %></textarea><br>
      <!-- <input type="file" name="file" accept=".png, .jpg"><br> -->
      <input type="submit" class="c-btn" value="Update" id="c-btn" >
      </form>
        <form action="/delete/<%= post.id %>" method="POST" style="order: -1;" >
          <input type="submit" class="c-btn" value="Delete">
        </form>
      </div>
  </div>
  

</main>

  <%-include("footer.ejs") %>
  </body>
  </html>
  